<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Cadastro Pessoa</title>

<!-- MATERIALIZE -->
<!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
<!-- MATERIALIZE -->
</head>
<body>
   <h1>Telefones</h1>
   <a href="/cadastropessoa">voltar para cadastro pessoa</a>
   <div th:each="p: ${pessoaobj}">
   <div class="row">
   <p>ID <span th:text="${p.id}"></span></p>
   <p>Nome <span th:text="${p.nome}"></span></p>
   <p>Sobrenome <span th:text="${p.sobrenome}"></span></p>
   <p>Idade <span th:text="${p.idade}"></span></p>
  
   
   </div>
   
   </div>
  
  
  
   <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
   <script type="text/javascript" src="materialize/js/materialize.js"></script> 
</body>
</html>