<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<!-- MATERIALIZE -->
<!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
<!-- MATERIALIZE -->
</head>
<body>
     <h1>ola spring boot</h1>
     <a href="/cadastropessoa">teste</a>
     
     
     <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
   <script type="text/javascript" src="materialize/js/materialize.js"></script>
</body>
</html>